.inputs{
  display: flex;
  justify-content: center;
}
.buttons{
  margin: 5px 0 0 0;
  display: flex;
  justify-content: center;
}
.titles{
  margin: 5px 0;
  display: flex;
  justify-content: center;
}
.input{
  width: 320px;
  height: 30px;
  font-size: large;
  text-align: center;
}
.button{
  width: 324px;
  height: 34px;
  font-size: large;
}
.title{
  width: 320px;
  height: 30px;
  font-size: large;
  text-align: center;
}
.newDiv{
  display: flex;
  justify-content: center;
}
.inputadd{
  width: 320px;
  height: 30px;
  font-size: large;
  text-align: center;
}
