// ___COLORS___
$white: white;
$whiteDarker: #f8fbfc;
$blueSky: #00aafc;
$green: #46b30f;
$greyLight: #e8edef;
$greyDark: #434343;
$yellowLight: #fff000;
$yellowMid: #ffe200;
$yellowDark: #ffcc00;

$baseGradientVertical: linear-gradient(0deg, #1FABF4 23%, #1074E8);
$baseGradientHorizontal: linear-gradient(90deg, #1FABF4 23%, #1074E8);